{% extends 'music/base.html' %}
{% block title %}Confirm Album Delete{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

	<div class="row">
		<!-- Left Album Info -->
		<div class="col-sm-7 col-md-5">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Confirm Delete</h3>					
					<form class="form-horizontal" role="form" action="" method="post">
						{% csrf_token %}						
						<div class="form-group">
							<div class="col-sm-10">
								<p >Are you sure you want to <b>Delete</b> the Album<br> <b>{{ album.album_title }}</b>?</p>
								<button type="submit" name="cancel" class="btn btn-default">Cancel</button>
								<button type="submit" class="btn btn-danger">Delete</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Right Album Info -->
		<div class="col-lg-2 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">						
					{% if album.album_logo %}
						<div class="thumbnail">							
							<img src="{{ album.album_logo.url }}" class="img-responsive" style="width:150px;height:150px">							
							<div class="caption">
								<h3>{{ album.album_title }}</h3>
								<h4>{{ album.artist }}</h4>
							</div>						
					{% else %}
						<h3>No image to display</h3>
					{% endif %}											
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}